<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" >Home</a>
        </li>
        <li>
            <a routerLink="/driver" routerLinkActive="active">Driver</a>
        </li>
        <li>
            <a routerLink="/about/author" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About
                Autor</a>
        </li>
        <li>
            <a routerLink="/about/angular" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About
                Angular</a>
        </li>
    </ul>
</nav>