<div class="contenedor normal">
    <p> <input [(ngModel)]="nombre" (keydown.shift.space)="poneMayuscula($event)" placeholder="Nombre" /> </p>
    <button (clic)="poneMayuscula()">⬆</button>
    <p>
        <button (click)="disminuye()">-</button>
        <span> {{edad}} años </span>
        <button (click)="aumenta()">+</button>
    </p>
    <!--<div [style.color]="edad<18?'red':'green'">Validando edad...</div>-->   
    <div [ngStyle]="estiloLetras">Validando edad...</div>
    <button (click)="resetea()">Resetear</button>
    <button [disabled]="edad<18 || !nombre.trim()" (clic)="inserta()">Insertar</button>
</div>